name: Build Douyin Extractor APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build APK with Buildozer（稳版）
        uses: digreatbrian/buildozer-action@v2
        with:
          command: buildozer -v android debug
